.itemDetail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  background-color: #32180fe7;
  width: 70vw;
  border-radius: 1rem;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.itemDetail img {
  width: 100%;
  height: 100%;
  border-radius: 1rem 0 0 1rem;
}

.itemDetail__info {
  height: 100%;
  padding-inline: 4rem;
  color: #fff;
  margin: 1rem auto;
}

.info__title {
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: uppercase;
}
.info__price {
  font-size: 1.25rem;
  font-weight: bolder;
}

.info__category {
  text-transform: uppercase;
  font-weight: lighter;
}

.info__description {
  text-align: justify;
}

.info__stock {
  text-align: center;
  font-weight: lighter;
}

.itemDetail__info .btn-checkout {
  background-color: #893900;
  color: #fff;
}

.itemDetail__info .btn-checkout:hover {
  background-color: #fff;
  color: #893900;
}
