.counterContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #32180f;
  border-radius: 3rem;
  font-weight: 900;
  font-size: 1.25rem;
}

.btn-add-sub {
  cursor: pointer;
  font-size: 2rem;
}

.btn-add-sub:hover {
  color: #ff6a00;
}
